You have to work on the files:
*  [Books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Books.csv.gz)
*  [Book ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Book-Ratings.csv.gz)
*  [Users](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Users.csv.gz)
*  [Goodbooks books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks.csv.gz)
*  [Goodbooks ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks-ratings.csv.gz)

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    To read those files, you need to use the `encoding = 'latin-1'` option.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com), otherwise no  answer will be given.

# Svolgimento progetto

### Bagnasco Anna - Tarrini Gaia

Per prima cosa, importiamo la libreria pandas necessaria allo svolgimento del progetto stesso.

In [49]:
import pandas as pd

Successivamente, carichiamo i file necessari allo svolgimento del progetto e assegniamo loro i seguenti nomi:
- books --> books
- book ratings --> booksR
- users --> users
- goodbooks books --> gbB
- goodbooks ratings --> gbR

In [50]:
books = pd.read_csv("https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Books.csv.gz", sep = ';', encoding = 'latin-1', compression = 'gzip', low_memory =  False)
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [51]:
booksR = pd.read_csv("https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Book-Ratings.csv.gz", sep = ';', encoding = 'latin-1', compression = 'gzip', low_memory =  False)
booksR.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [52]:
users = pd.read_csv("https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Users.csv.gz", sep = ';', encoding = 'latin-1', compression = 'gzip', low_memory =  False)
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [53]:
gbB = pd.read_csv("https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks.csv.gz", sep = ',', encoding = 'latin-1', compression = 'gzip', low_memory =  False)
gbB.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [54]:
gbR = pd.read_csv("https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks-ratings.csv.gz", sep = ',', encoding = 'latin-1', compression = 'gzip', low_memory =  False)
gbR.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

Adesso, analizziamo i dati contenuti all'interno dei dataframe, utilizzando principalmente i comandi:
- .shape --> per vedere il numero di righe e di colonne
- .columns --> per vedere i nomi di tutte le colonne 

Per non rendere troppo lungo lo svolgimento del progetto, non riportiamo l'applicazione dei comandi sopracitati ad ogni dataframe.

### 1. Normalize the location field of *Users* dataset, splitting into city, region, country.

1. Per prima cosa, splittiamo la colonna _Location_ in tre colonne _City_, _Region_ e _Country_ creandole ed aggiungendole al dataframe _users_. <br>
2. Successivamente, per eliminare la colonna _Location_ senza perdere traccia del suo contenuto, copiamo il dataframe _users_ nel dataframe _usersN_ (users normalized) in cui, al suo posto, manteniamo solo le colonne appena create.

In [55]:
#Passo 1
users[['City', 'Region', 'Country']] = users['Location'].str.split(pat =',', n = 2, expand = True)
users.head()

,User-ID,Location,Age,City,Region,Country
0,1,"nyc, new york, usa",NaN,nyc,new york,usa
1,2,"stockton, california, usa",18.0,stockton,california,usa
2,3,"moscow, yukon territory, russia",NaN,moscow,yukon territory,russia
3,4,"porto, v.n.gaia, portugal",17.0,porto,v.n.gaia,portugal
4,5,"farnborough, hants, united kingdom",NaN,farnborough,hants,united kingdom

In [56]:
#Passo 2
usersN = users.drop('Location', axis = 1)
usersN.head()

   User-ID   Age         City            Region          Country
0        1   NaN          nyc          new york              usa
1        2  18.0     stockton        california              usa
2        3   NaN       moscow   yukon territory           russia
3        4  17.0        porto          v.n.gaia         portugal
4        5   NaN  farnborough             hants   united kingdom

### 2. For each book in the *Books* dataset, compute its average rating.

1. Per prima cosa, effettuiamo un merge tra i dataframe _books_ e _booksR_: tale join deve essere sinistro in modo tale da non perdere nessuna istanza di _books_; la chiave che utilizziamo è data dalla colonna _ISBN_ perchè rappresenta il codice identificativo univoco di ogni libro.
2. Successivamente, raggruppiamo per _ISBN_ (per lo stesso motivo precedente), prendiamo solamente la colonna _Book-Rating_ della quale effettuiamo la media richiesta.

Per fare tali operazioni abbiamo innanzitutto visualizzato solamente l'_ISBN_ con la relativa media (Metodo A) e successivamente abbiamo deciso di salvare tale risultato; per fare ciò, abbiamo aggiunto la colonna _Book average rating_ al dataframe _books_ (Metodo B). <br>

In [57]:
#Metodo A
#Passo 1:
booksM = pd.merge(books, booksR, how = 'left', on = 'ISBN')
#Passo 2:
booksM.groupby('ISBN')['Book-Rating'].mean()

ISBN
0000913154    8.0
0001010565    0.0
0001046438    9.0
0001046713    0.0
000104687X    6.0
             ...
B000234N76    0.0
B000234NC6    0.0
B00029DGGO    0.0
B0002JV9PY    0.0
B0002K6K8O    0.0
Name: Book-Rating, Length: 271359, dtype: float64

In [58]:
#Metodo B (in cui i passi 1 e 2 sono un'unica riga di comando)
books['Book average rating'] = list(pd.merge(books, booksR, how = 'left', on = 'ISBN').groupby('ISBN')['Book-Rating'].mean())
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Book average rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,8.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,0.0
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,9.0
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,0.0
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,6.0

### 3. For each book in the *GoodBooks* dataset, compute its average rating.

1. Visualizziamo i nomi di tutte le colonne del dataframe _gbB_.
2. Mostriamo i valori della colonna _average_rating_ per rispondere alla quesito posto.

In [59]:
#Passo 1
gbB.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [60]:
#Passo 2
gbB['average_rating']

0     4.34
1     4.44
2     3.57
3     4.25
4     3.89
      ...
94    4.06
95    3.88
96    3.98
97    4.22
98    3.87
Name: average_rating, Length: 99, dtype: float64

### 4. Merge together all rows sharing the same book title, author and publisher. We will call the resulting datset `merged books`. The books that have not been merged together will not appear in `merged books`.

1. Per prima cosa, grouppiamo il dataframe _books_ per le colonne _'Book-Title', 'Book-Author', 'Publisher'_ e contiamo il numero righe che contengono gli stessi valori di questi tre attributi.
2. Salviamo nel dataframe _merged_books_ solamente le righe che compaiono più di una volta.

In [61]:
#Passo 1
aux = books.groupby(['Book-Title', 'Book-Author', 'Publisher'], as_index = False).count() 
#Passo 2
merged_books = aux[aux['ISBN']>1][['Book-Title', 'Book-Author', 'Publisher']].reset_index()
merged_books

,index,Book-Title,Book-Author,Publisher
0,41,!%@ (A Nutshell handbook),Donnalyn Frey,O'Reilly
1,59,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,National Geographic
2,255,"10,000 dreams interpreted: A dictionary of dreams",Gustavus Hindman Miller,Barnes &amp; Nobles Books
3,465,101 Famous Poems,Roy J. Cook,McGraw-Hill/Contemporary Books
4,713,15 Houseplants Even You Can't Kill,Joe Elder,Berkley Pub Group
...,...,...,...,...
4720,265525,Zia,Scott O'Dell,Laurel-Leaf Books
4721,265526,Zia,Scott O'Dell,Yearling Books
4722,265562,Zimmermann Telegram,Barbara Tuchman,Ballantine Books
4723,265625,Zoids Chaotic Century (Zoids: Chaotic Century ...,Michiro Ueyama,Viz Comics
4724,266117,Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.,RÃ?ÃÂ¼diger Nehberg,Piper

### 5. For each book in `merged books` compute its average rating.

The average is computed considering all books in `books` that have been merged.

1. Per prima cosa, effettuiamo il merge dei dataframe _books_ e _merged_books_ in modo tale da creare un unico dataframe chiamato _aux2_ usando come chiave la lista di attributi _'Book-Title', 'Book-Author', 'Publisher'_ 
2. Per calcolare l'average rating richiesto, gruppiamo il dataframe _aux2_ rispetto alla chiave precedente e ne calcoliamo la media, prendendo solamente la colonna che ci interessa _'Book average rating'_. Questo risultato lo inseriamo in una nuova colonna all'interno del dataframe _merged_books_ chiamandola _Average rating_.

In [62]:
#Passo 1
aux2 = pd.merge(books, merged_books, on = ['Book-Title', 'Book-Author', 'Publisher'])
#Passo 2
merged_books['Average rating'] = aux2.groupby(['Book-Title', 'Book-Author', 'Publisher'], as_index = False).mean()['Book average rating']

merged_books

,index,Book-Title,Book-Author,Publisher,Average rating
0,41,!%@ (A Nutshell handbook),Donnalyn Frey,O'Reilly,4.000000
1,59,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,National Geographic,3.500000
2,255,"10,000 dreams interpreted: A dictionary of dreams",Gustavus Hindman Miller,Barnes &amp; Nobles Books,7.500000
3,465,101 Famous Poems,Roy J. Cook,McGraw-Hill/Contemporary Books,8.333333
4,713,15 Houseplants Even You Can't Kill,Joe Elder,Berkley Pub Group,1.250000
...,...,...,...,...,...
4720,265525,Zia,Scott O'Dell,Laurel-Leaf Books,1.825000
4721,265526,Zia,Scott O'Dell,Yearling Books,0.000000
4722,265562,Zimmermann Telegram,Barbara Tuchman,Ballantine Books,2.994318
4723,265625,Zoids Chaotic Century (Zoids: Chaotic Century ...,Michiro Ueyama,Viz Comics,2.792857
4724,266117,Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.,RÃ?ÃÂ¼diger Nehberg,Piper,3.714286

### 6. For each book in `merged books` compute the minimum and maximum of the average ratings over all corresponding books in the `books` dataset.

Hence for each book in `merged books` we will have exactly two values (a minimum and a maximum)

Considerando il dataframe _merged_books_ creato precedentemente, ricaviamo il minimo e il massimo valore dell'average rating in questo modo:
1. effettuiamo un merge tra i dataframes _books_ e _merged_books_ utilizzando come chiave gli attributi _'Book-Title', 'Book-Author', 'Publisher'_
2. gruppiamo il dataframe ottenuto rispetto agli stessi attributi precedenti e calcoliamo il minimo o il massimo della colonna di nostro interesse _'Book average rating'_, salvando il risultato in due nuove colonne del dataframe _merged_books_, una per il minimo e una per il massimo.

In [63]:
#Passo 1
aux3 = pd.merge(books, merged_books, on = ['Book-Title', 'Book-Author', 'Publisher'])
aux4 = pd.merge(books, merged_books, on = ['Book-Title', 'Book-Author', 'Publisher'])
#Passo 2
merged_books['Min average rating'] = aux3.groupby(['Book-Title', 'Book-Author', 'Publisher'], as_index = False).min()['Book average rating']
merged_books['Max average rating'] = aux4.groupby(['Book-Title', 'Book-Author', 'Publisher'], as_index = False).max()['Book average rating']
merged_books

,index,Book-Title,Book-Author,Publisher,Average rating,Min average rating,Max average rating
0,41,!%@ (A Nutshell handbook),Donnalyn Frey,O'Reilly,4.000000,0.000000,8.000
1,59,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,National Geographic,3.500000,0.000000,7.000
2,255,"10,000 dreams interpreted: A dictionary of dreams",Gustavus Hindman Miller,Barnes &amp; Nobles Books,7.500000,7.000000,8.000
3,465,101 Famous Poems,Roy J. Cook,McGraw-Hill/Contemporary Books,8.333333,7.000000,9.000
4,713,15 Houseplants Even You Can't Kill,Joe Elder,Berkley Pub Group,1.250000,0.000000,2.500
...,...,...,...,...,...,...,...
4720,265525,Zia,Scott O'Dell,Laurel-Leaf Books,1.825000,1.400000,2.250
4721,265526,Zia,Scott O'Dell,Yearling Books,0.000000,0.000000,0.000
4722,265562,Zimmermann Telegram,Barbara Tuchman,Ballantine Books,2.994318,1.363636,4.625
4723,265625,Zoids Chaotic Century (Zoids: Chaotic Century ...,Michiro Ueyama,Viz Comics,2.792857,0.000000,7.000
4724,266117,Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.,RÃ?ÃÂ¼diger Nehberg,Piper,3.714286,3.428571,4.000

### 7. For each book in `goodbooks`, compute the list of its authors. Assuming that the number of reviews with a text (column `work_text_reviews_count`) is split equally among all authors, find for each authors the total number of reviews with a text. We will call this quantity the *shared number of reviews with a text*.

Per prima cosa scriviamo una funzione chiamata _fun_ con i seguenti parametri: <br>
    - colonna = colonna autori di gbB <br>
    - id = colonna degli id-books di gbB <br>
    - count review = colonna work_text_reviews_count di gbB <br>

e che segue i seguenti passi: <br>
- Per trovare la lista degli autori senza ripetizioni: <br>
    -- PASSO 1: utilizziamo un ciclo for (su k) da ripetere per tutta la lunghezza della colonna _gbB['authors']_ in cui:
        1. salviamo nella lista provv gli autori di ciascun libro usando il metodo .split con separatore ','
        2. aggiungiamo alla lista del numero di autori di ciascun libro la lunghezza della colonna che splittiamo          
            al punto 1, in modo tale da sapere quanti autori ci sono per ogni libro
        3. salviamo nel dizionario 'authors_all':
            - la variabile di iterazione
            - la lista degli autori di ciascun libro
            - il numero di autori di ciascun libro
            - il valore della colonna 'work_text_reviews_count' di gbB diviso il numero di autori per ogni libro
     -- PASSO 2: utilizziamo un altro ciclo for (su i) all'interno del precedente per eliminare gli eventuali spazi davanti ai nomi degli autori e risolvere il problema che lo stesso autore, con o senza spazi, viene visualizzato due volte (e noi lo vogliamo ripetuto una sola volta in 'authors_list')

- Per rispondere alla domanda completa: <br>
     -- PASSO 3: utilizziamo un altro ciclo for (su j) per creare ed inizializzare il dizionario degli autori 'authors_dic' che contiene:
             - la variabile di iterazione
             - il nome dell'autore
             - il valore 0, che poi verrà sostituito dal 'total number of reviews with a text'
     -- PASSO 4: utilizziamo un altro ciclo for (su j) che itera sulla lunghezza del dizionario 'authors_all' e:
         1. PASSO 5: con un ciclo for (su i) che itera sulla lunghezza della lista degli autori di ogni riga di
             'authors_all' che fissa ogni autore di tale lista
         2. PASSO 6: all'interno di quest'ultimo ciclo, creiamo un ulteriore ciclo for (su k) sulla lunghezza di
             'authors_dic' in cui se ciascun autore di 'authors_dic' è uguale all'autore fissato in precedenza
             allora aggiorniamo nel dizionario 'authors_dic' il valore che era stato precedentemente fissato a 0 in
             modo tale da ottenere la somma desiderata


- Alla fine, dopo che chiamiamo la funzione (PASSO 7) visualizziamo: <br>
    -- _authors_all_ per avere la lista degli autori di ciascun libro --> PASSO 8 <br>
    -- _authors_dic_ per avere il valore totale di _review_with_text_ di ogni autore --> PASSO 9

In [64]:
authors_list = []
authors_number = []
authors_dic = {}
authors_all = {}

#colonna = colonna autori di gbB
#id = colonna degli id-books di gbB
#count review = colonna work_text_reviews_count di gbB
def fun(colonna, id, countReview):
    provv = []
    aux = []
    
    #Passo 1
    for k in range(0, len(colonna)):
        provv = colonna[k].split(sep=',')
        authors_number.append(len(colonna[k].split(sep=',')))
        authors_all[k] = [k, provv, authors_number[k], countReview[k]/authors_number[k]]

        #Passo 2
        for i in range(len(provv)):
            provv[i] = provv[i].strip()
            if provv[i] not in authors_list:
                 authors_list.append((provv[i]))
    
    #Passo 3
    for j in range(len(authors_list)):
        authors_dic[j] = [j, authors_list[j], float(0)]   
    
    #Passo 4
    for j in range(len(authors_all)):
        
        #Passo 5
        for i in range(len(authors_all[j][1])):
            fisso = authors_all[j][1][i]
            
            #Passo 6
            for k in range(len(authors_dic)):
                if (authors_dic[k][1] ==  fisso):
                    authors_dic[k][2] = authors_dic[k][2] +float(authors_all[j][3])

In [65]:
#Passo 7
fun(gbB['authors'], gbB['book_id'], gbB['work_text_reviews_count'])

In [66]:
#Passo 8
authors_all

{0: [0, ['Suzanne Collins'], 1, 155254.0],
 1: [1, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 37933.5],
 2: [2, ['Stephenie Meyer'], 1, 95009.0],
 3: [3, ['Harper Lee'], 1, 72586.0],
 4: [4, ['F. Scott Fitzgerald'], 1, 51992.0],
 5: [5, ['John Green'], 1, 140739.0],
 6: [6, ['J.R.R. Tolkien'], 1, 37653.0],
 7: [7, ['J.D. Salinger'], 1, 44920.0],
 8: [8, ['Dan Brown'], 1, 25112.0],
 9: [9, ['Jane Austen'], 1, 49152.0],
 10: [10, ['Khaled Hosseini'], 1, 59730.0],
 11: [11, ['Veronica Roth'], 1, 101023.0],
 12: [12,
  ['George Orwell', 'Erich Fromm', 'CelÃ¢l Ã\x9cster'],
  3,
  15172.666666666666],
 13: [13, ['George Orwell'], 1, 35472.0],
 14: [14,
  ['Anne Frank', 'Eleanor Roosevelt', 'B.M. Mooyaart-Doubleday'],
  3,
  6941.666666666667],
 15: [15, ['Stieg Larsson', 'Reg Keeland'], 2, 31271.5],
 16: [16, ['Suzanne Collins'], 1, 88538.0],
 17: [17, ['J.K. Rowling', 'Mary GrandPrÃ©', 'Rufus Beck'], 3, 12033.0],
 18: [18, ['J.R.R. Tolkien'], 1, 15333.0],
 19: [19, ['Suzanne Collins'], 1, 96274.0],
 20: [20, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 14342.5],
 21: [21, ['Alice Sebold'], 1, 36642.0],
 22: [22, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 17086.0],
 23: [23, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 15542.0],
 24: [24, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 25971.0],
 25: [25, ['Dan Brown'], 1, 41560.0],
 26: [26, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 13760.0],
 27: [27, ['William Golding'], 1, 26886.0],
 28: [28, ['William Shakespeare', 'Robert           Jackson'], 2, 7389.0],
 29: [29, ['Gillian Flynn'], 1, 121614.0],
 30: [30, ['Kathryn Stockett'], 1, 78204.0],
 31: [31, ['John Steinbeck'], 1, 24642.0],
 32: [32, ['Arthur Golden'], 1, 25605.0],
 33: [33, ['E.L. James'], 1, 75437.0],
 34: [34, ['Paulo Coelho', 'Alan R. Clarke'], 2, 27890.5],
 35: [35, ['Lois Lowry'], 1, 54084.0],
 36: [36, ['C.S. Lewis'], 1, 15186.0],
 37: [37, ['Audrey Niffenegger'], 1, 43382.0],
 38: [38, ['George R.R. Martin'], 1, 46205.0],
 39: [39, ['Elizabeth Gilbert'], 1, 49714.0],
 40: [40, ['Rick Riordan'], 1, 46006.0],
 41: [41, ['Louisa May Alcott'], 1, 17090.0],
 42: [42, ['Charlotte BrontÃ«', 'Michael Mason'], 2, 15606.0],
 43: [43, ['Nicholas Sparks'], 1, 17279.0],
 44: [44, ['Yann Martel'], 1, 42962.0],
 45: [45, ['Sara Gruen'], 1, 55732.0],
 46: [46, ['Markus Zusak'], 1, 93611.0],
 47: [47, ['Ray Bradbury'], 1, 30694.0],
 48: [48, ['Stephenie Meyer'], 1, 44020.0],
 49: [49, ['Shel Silverstein'], 1, 9234.0],
 50: [50, ['Cassandra Clare'], 1, 51589.0],
 51: [51, ['Stephenie Meyer'], 1, 35216.0],
 52: [52, ['Christopher Paolini'], 1, 18280.0],
 53: [53, ['Douglas Adams'], 1, 20345.0],
 54: [54, ['Aldous Huxley'], 1, 20095.0],
 55: [55, ['Stephenie Meyer'], 1, 44550.0],
 56: [56, ['Sue Monk Kidd'], 1, 26522.0],
 57: [57, ['Mark Twain', 'John Seelye', 'Guy Cardwell'], 3, 4149.333333333333],
 58: [58, ['E.B. White', 'Garth Williams', 'Rosemary Wells'], 3, 4348.0],
 59: [59, ['Mark Haddon'], 1, 35796.0],
 60: [60, ['Paula Hawkins'], 1, 93600.0],
 61: [61, ['Philip Pullman'], 1, 14915.0],
 62: [62, ['Emily BrontÃ«', 'Richard J. Dunn'], 2, 13078.5],
 63: [63, ['Jodi Picoult'], 1, 30719.0],
 64: [64, ['Kurt Vonnegut Jr.'], 1, 19646.0],
 65: [65, ['Margaret Mitchell'], 1, 16050.0],
 66: [66, ['Khaled Hosseini'], 1, 43645.0],
 67: [67, ['Stephen Chbosky'], 1, 47116.0],
 68: [68, ['Veronica Roth'], 1, 55873.0],
 69: [69, ['Orson Scott Card'], 1, 38054.0],
 70: [70,
  ['Mary Wollstonecraft Shelley', 'Percy Bysshe Shelley', 'Maurice Hindle'],
  3,
  6664.333333333333],
 71: [71, ['Stephen King'], 1, 14936.0],
 72: [72, ['Stephenie Meyer'], 1, 39778.0],
 73: [73, ['John Green'], 1, 47128.0],
 74: [74, ['Helen Fielding'], 1, 8157.0],
 75: [75, ['Jane Austen', 'Tony Tanner', 'Ros Ballaster'], 3, 3842.0],
 76: [76, ['Louis Sachar', 'Louis Sachar'], 2, 7916.0],
 77: [77, ['Lauren Weisberger'], 1, 8024.0],
 78: [78,
  ['Homer', 'Robert Fagles', 'E.V. Rieu', 'FrÃ©dÃ©ric Mugler', 'Bernard Knox'],
  5,
  1620.2],
 79: [79,
  ['Antoine de Saint-ExupÃ©ry',
   'Richard Howard',
   'Dom Marcos Barbosa',
   'Melina Karakosta'],
  4,
  6134.25],
 80: [80, ['Jeannette Walls'], 1, 40777.0],
 81: [81, ['Jon Krakauer'], 1, 17299.0],
 82: [82,
  ['Charles Dickens', 'Richard Maxwell', 'Hablot Knight Browne'],
  3,
  4364.333333333333],
 83: [83, ['Michael Crichton'], 1, 8143.0],
 84: [84, ['Shel Silverstein'], 1, 14368.0],
 85: [85, ['John Grisham'], 1, 4239.0],
 86: [86, ['Elie Wiesel', 'Marion Wiesel'], 2, 11000.5],
 87: [87, ['John Green'], 1, 42717.0],
 88: [88, ['William Goldman'], 1, 15630.0],
 89: [89, ['S.E. Hinton'], 1, 22662.0],
 90: [90, ['James Dashner'], 1, 48942.0],
 91: [91, ['Steven D. Levitt', 'Stephen J. Dubner'], 2, 6834.0],
 92: [92, ['Frances Hodgson Burnett'], 1, 13054.0],
 93: [93, ['Gabriel GarcÃ\xada MÃ¡rquez', 'Gregory Rabassa'], 2, 10835.5],
 94: [94, ['Oscar Wilde', 'Jeffrey Eugenides'], 2, 9823.5],
 95: [95, ['E.L. James'], 1, 25287.0],
 96: [96,
  ['Bram Stoker', 'Nina Auerbach', 'David J. Skal'],
  3,
  5754.333333333333],
 97: [97, ['Stieg Larsson', 'Reg Keeland'], 2, 15711.5],
 98: [98, ['E.L. James'], 1, 28052.0]}

In [67]:
#Passo 9
authors_dic

{0: [0, 'Suzanne Collins', 340066.0],
 1: [1, 'J.K. Rowling', 136668.0],
 2: [2, 'Mary GrandPrÃ©', 136668.0],
 3: [3, 'Stephenie Meyer', 258573.0],
 4: [4, 'Harper Lee', 72586.0],
 5: [5, 'F. Scott Fitzgerald', 51992.0],
 6: [6, 'John Green', 230584.0],
 7: [7, 'J.R.R. Tolkien', 52986.0],
 8: [8, 'J.D. Salinger', 44920.0],
 9: [9, 'Dan Brown', 66672.0],
 10: [10, 'Jane Austen', 52994.0],
 11: [11, 'Khaled Hosseini', 103375.0],
 12: [12, 'Veronica Roth', 156896.0],
 13: [13, 'George Orwell', 50644.666666666664],
 14: [14, 'Erich Fromm', 15172.666666666666],
 15: [15, 'CelÃ¢l Ã\x9cster', 15172.666666666666],
 16: [16, 'Anne Frank', 6941.666666666667],
 17: [17, 'Eleanor Roosevelt', 6941.666666666667],
 18: [18, 'B.M. Mooyaart-Doubleday', 6941.666666666667],
 19: [19, 'Stieg Larsson', 46983.0],
 20: [20, 'Reg Keeland', 46983.0],
 21: [21, 'Rufus Beck', 12033.0],
 22: [22, 'Alice Sebold', 36642.0],
 23: [23, 'William Golding', 26886.0],
 24: [24, 'William Shakespeare', 7389.0],
 25: [25, 'Robert           Jackson', 7389.0],
 26: [26, 'Gillian Flynn', 121614.0],
 27: [27, 'Kathryn Stockett', 78204.0],
 28: [28, 'John Steinbeck', 24642.0],
 29: [29, 'Arthur Golden', 25605.0],
 30: [30, 'E.L. James', 128776.0],
 31: [31, 'Paulo Coelho', 27890.5],
 32: [32, 'Alan R. Clarke', 27890.5],
 33: [33, 'Lois Lowry', 54084.0],
 34: [34, 'C.S. Lewis', 15186.0],
 35: [35, 'Audrey Niffenegger', 43382.0],
 36: [36, 'George R.R. Martin', 46205.0],
 37: [37, 'Elizabeth Gilbert', 49714.0],
 38: [38, 'Rick Riordan', 46006.0],
 39: [39, 'Louisa May Alcott', 17090.0],
 40: [40, 'Charlotte BrontÃ«', 15606.0],
 41: [41, 'Michael Mason', 15606.0],
 42: [42, 'Nicholas Sparks', 17279.0],
 43: [43, 'Yann Martel', 42962.0],
 44: [44, 'Sara Gruen', 55732.0],
 45: [45, 'Markus Zusak', 93611.0],
 46: [46, 'Ray Bradbury', 30694.0],
 47: [47, 'Shel Silverstein', 23602.0],
 48: [48, 'Cassandra Clare', 51589.0],
 49: [49, 'Christopher Paolini', 18280.0],
 50: [50, 'Douglas Adams', 20345.0],
 51: [51, 'Aldous Huxley', 20095.0],
 52: [52, 'Sue Monk Kidd', 26522.0],
 53: [53, 'Mark Twain', 4149.333333333333],
 54: [54, 'John Seelye', 4149.333333333333],
 55: [55, 'Guy Cardwell', 4149.333333333333],
 56: [56, 'E.B. White', 4348.0],
 57: [57, 'Garth Williams', 4348.0],
 58: [58, 'Rosemary Wells', 4348.0],
 59: [59, 'Mark Haddon', 35796.0],
 60: [60, 'Paula Hawkins', 93600.0],
 61: [61, 'Philip Pullman', 14915.0],
 62: [62, 'Emily BrontÃ«', 13078.5],
 63: [63, 'Richard J. Dunn', 13078.5],
 64: [64, 'Jodi Picoult', 30719.0],
 65: [65, 'Kurt Vonnegut Jr.', 19646.0],
 66: [66, 'Margaret Mitchell', 16050.0],
 67: [67, 'Stephen Chbosky', 47116.0],
 68: [68, 'Orson Scott Card', 38054.0],
 69: [69, 'Mary Wollstonecraft Shelley', 6664.333333333333],
 70: [70, 'Percy Bysshe Shelley', 6664.333333333333],
 71: [71, 'Maurice Hindle', 6664.333333333333],
 72: [72, 'Stephen King', 14936.0],
 73: [73, 'Helen Fielding', 8157.0],
 74: [74, 'Tony Tanner', 3842.0],
 75: [75, 'Ros Ballaster', 3842.0],
 76: [76, 'Louis Sachar', 15832.0],
 77: [77, 'Lauren Weisberger', 8024.0],
 78: [78, 'Homer', 1620.2],
 79: [79, 'Robert Fagles', 1620.2],
 80: [80, 'E.V. Rieu', 1620.2],
 81: [81, 'FrÃ©dÃ©ric Mugler', 1620.2],
 82: [82, 'Bernard Knox', 1620.2],
 83: [83, 'Antoine de Saint-ExupÃ©ry', 6134.25],
 84: [84, 'Richard Howard', 6134.25],
 85: [85, 'Dom Marcos Barbosa', 6134.25],
 86: [86, 'Melina Karakosta', 6134.25],
 87: [87, 'Jeannette Walls', 40777.0],
 88: [88, 'Jon Krakauer', 17299.0],
 89: [89, 'Charles Dickens', 4364.333333333333],
 90: [90, 'Richard Maxwell', 4364.333333333333],
 91: [91, 'Hablot Knight Browne', 4364.333333333333],
 92: [92, 'Michael Crichton', 8143.0],
 93: [93, 'John Grisham', 4239.0],
 94: [94, 'Elie Wiesel', 11000.5],
 95: [95, 'Marion Wiesel', 11000.5],
 96: [96, 'William Goldman', 15630.0],
 97: [97, 'S.E. Hinton', 22662.0],
 98: [98, 'James Dashner', 48942.0],
 99: [99, 'Steven D. Levitt', 6834.0],
 100: [100, 'Stephen J. Dubner', 6834.0],
 101: [101, 'Frances Hodgson Burnett', 13054.0],
 102: [102, 'Gabriel GarcÃ\xada MÃ¡rquez', 10835.5],
 103: [103, 'Gregory Rabassa', 10835.5],
 104: [104, 'Oscar Wilde', 9823.5],
 105: [105, 'Jeffrey Eugenides', 9823.5],
 106: [106, 'Bram Stoker', 5754.333333333333],
 107: [107, 'Nina Auerbach', 5754.333333333333],
 108: [108, 'David J. Skal', 5754.333333333333]}

In [68]:
authors_all

{0: [0, ['Suzanne Collins'], 1, 155254.0],
 1: [1, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 37933.5],
 2: [2, ['Stephenie Meyer'], 1, 95009.0],
 3: [3, ['Harper Lee'], 1, 72586.0],
 4: [4, ['F. Scott Fitzgerald'], 1, 51992.0],
 5: [5, ['John Green'], 1, 140739.0],
 6: [6, ['J.R.R. Tolkien'], 1, 37653.0],
 7: [7, ['J.D. Salinger'], 1, 44920.0],
 8: [8, ['Dan Brown'], 1, 25112.0],
 9: [9, ['Jane Austen'], 1, 49152.0],
 10: [10, ['Khaled Hosseini'], 1, 59730.0],
 11: [11, ['Veronica Roth'], 1, 101023.0],
 12: [12,
  ['George Orwell', 'Erich Fromm', 'CelÃ¢l Ã\x9cster'],
  3,
  15172.666666666666],
 13: [13, ['George Orwell'], 1, 35472.0],
 14: [14,
  ['Anne Frank', 'Eleanor Roosevelt', 'B.M. Mooyaart-Doubleday'],
  3,
  6941.666666666667],
 15: [15, ['Stieg Larsson', 'Reg Keeland'], 2, 31271.5],
 16: [16, ['Suzanne Collins'], 1, 88538.0],
 17: [17, ['J.K. Rowling', 'Mary GrandPrÃ©', 'Rufus Beck'], 3, 12033.0],
 18: [18, ['J.R.R. Tolkien'], 1, 15333.0],
 19: [19, ['Suzanne Collins'], 1, 96274.0],
 20: [20, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 14342.5],
 21: [21, ['Alice Sebold'], 1, 36642.0],
 22: [22, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 17086.0],
 23: [23, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 15542.0],
 24: [24, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 25971.0],
 25: [25, ['Dan Brown'], 1, 41560.0],
 26: [26, ['J.K. Rowling', 'Mary GrandPrÃ©'], 2, 13760.0],
 27: [27, ['William Golding'], 1, 26886.0],
 28: [28, ['William Shakespeare', 'Robert           Jackson'], 2, 7389.0],
 29: [29, ['Gillian Flynn'], 1, 121614.0],
 30: [30, ['Kathryn Stockett'], 1, 78204.0],
 31: [31, ['John Steinbeck'], 1, 24642.0],
 32: [32, ['Arthur Golden'], 1, 25605.0],
 33: [33, ['E.L. James'], 1, 75437.0],
 34: [34, ['Paulo Coelho', 'Alan R. Clarke'], 2, 27890.5],
 35: [35, ['Lois Lowry'], 1, 54084.0],
 36: [36, ['C.S. Lewis'], 1, 15186.0],
 37: [37, ['Audrey Niffenegger'], 1, 43382.0],
 38: [38, ['George R.R. Martin'], 1, 46205.0],
 39: [39, ['Elizabeth Gilbert'], 1, 49714.0],
 40: [40, ['Rick Riordan'], 1, 46006.0],
 41: [41, ['Louisa May Alcott'], 1, 17090.0],
 42: [42, ['Charlotte BrontÃ«', 'Michael Mason'], 2, 15606.0],
 43: [43, ['Nicholas Sparks'], 1, 17279.0],
 44: [44, ['Yann Martel'], 1, 42962.0],
 45: [45, ['Sara Gruen'], 1, 55732.0],
 46: [46, ['Markus Zusak'], 1, 93611.0],
 47: [47, ['Ray Bradbury'], 1, 30694.0],
 48: [48, ['Stephenie Meyer'], 1, 44020.0],
 49: [49, ['Shel Silverstein'], 1, 9234.0],
 50: [50, ['Cassandra Clare'], 1, 51589.0],
 51: [51, ['Stephenie Meyer'], 1, 35216.0],
 52: [52, ['Christopher Paolini'], 1, 18280.0],
 53: [53, ['Douglas Adams'], 1, 20345.0],
 54: [54, ['Aldous Huxley'], 1, 20095.0],
 55: [55, ['Stephenie Meyer'], 1, 44550.0],
 56: [56, ['Sue Monk Kidd'], 1, 26522.0],
 57: [57, ['Mark Twain', 'John Seelye', 'Guy Cardwell'], 3, 4149.333333333333],
 58: [58, ['E.B. White', 'Garth Williams', 'Rosemary Wells'], 3, 4348.0],
 59: [59, ['Mark Haddon'], 1, 35796.0],
 60: [60, ['Paula Hawkins'], 1, 93600.0],
 61: [61, ['Philip Pullman'], 1, 14915.0],
 62: [62, ['Emily BrontÃ«', 'Richard J. Dunn'], 2, 13078.5],
 63: [63, ['Jodi Picoult'], 1, 30719.0],
 64: [64, ['Kurt Vonnegut Jr.'], 1, 19646.0],
 65: [65, ['Margaret Mitchell'], 1, 16050.0],
 66: [66, ['Khaled Hosseini'], 1, 43645.0],
 67: [67, ['Stephen Chbosky'], 1, 47116.0],
 68: [68, ['Veronica Roth'], 1, 55873.0],
 69: [69, ['Orson Scott Card'], 1, 38054.0],
 70: [70,
  ['Mary Wollstonecraft Shelley', 'Percy Bysshe Shelley', 'Maurice Hindle'],
  3,
  6664.333333333333],
 71: [71, ['Stephen King'], 1, 14936.0],
 72: [72, ['Stephenie Meyer'], 1, 39778.0],
 73: [73, ['John Green'], 1, 47128.0],
 74: [74, ['Helen Fielding'], 1, 8157.0],
 75: [75, ['Jane Austen', 'Tony Tanner', 'Ros Ballaster'], 3, 3842.0],
 76: [76, ['Louis Sachar', 'Louis Sachar'], 2, 7916.0],
 77: [77, ['Lauren Weisberger'], 1, 8024.0],
 78: [78,
  ['Homer', 'Robert Fagles', 'E.V. Rieu', 'FrÃ©dÃ©ric Mugler', 'Bernard Knox'],
  5,
  1620.2],
 79: [79,
  ['Antoine de Saint-ExupÃ©ry',
   'Richard Howard',
   'Dom Marcos Barbosa',
   'Melina Karakosta'],
  4,
  6134.25],
 80: [80, ['Jeannette Walls'], 1, 40777.0],
 81: [81, ['Jon Krakauer'], 1, 17299.0],
 82: [82,
  ['Charles Dickens', 'Richard Maxwell', 'Hablot Knight Browne'],
  3,
  4364.333333333333],
 83: [83, ['Michael Crichton'], 1, 8143.0],
 84: [84, ['Shel Silverstein'], 1, 14368.0],
 85: [85, ['John Grisham'], 1, 4239.0],
 86: [86, ['Elie Wiesel', 'Marion Wiesel'], 2, 11000.5],
 87: [87, ['John Green'], 1, 42717.0],
 88: [88, ['William Goldman'], 1, 15630.0],
 89: [89, ['S.E. Hinton'], 1, 22662.0],
 90: [90, ['James Dashner'], 1, 48942.0],
 91: [91, ['Steven D. Levitt', 'Stephen J. Dubner'], 2, 6834.0],
 92: [92, ['Frances Hodgson Burnett'], 1, 13054.0],
 93: [93, ['Gabriel GarcÃ\xada MÃ¡rquez', 'Gregory Rabassa'], 2, 10835.5],
 94: [94, ['Oscar Wilde', 'Jeffrey Eugenides'], 2, 9823.5],
 95: [95, ['E.L. James'], 1, 25287.0],
 96: [96,
  ['Bram Stoker', 'Nina Auerbach', 'David J. Skal'],
  3,
  5754.333333333333],
 97: [97, ['Stieg Larsson', 'Reg Keeland'], 2, 15711.5],
 98: [98, ['E.L. James'], 1, 28052.0]}

### 8. For each year of publication, determine the author that has the largest value of the shared number of reviews with a text.

Per rispondere a questo quesito andiamo per step:
- per prima cosa, scriviamo una funzione chiamata _fun4_ con i seguenti parametri: <br>
    - colonna = colonna autori di gbB <br>
    - year = colonna degli original_publication_year di gbB <br>
    - countReview = colonna work_text_reviews_count di gbB <br>

e che segue i seguenti passi: <br>
    -- PASSO 1: utilizziamo un ciclo for (su k) da ripetere per tutta la lunghezza della colonna _gbB['authors']_ in cui: <br>
        1. salviamo nella lista provv gli autori di ciascun libro usando il metodo .split con separatore ',' <br> <br>
        2. aggiungiamo alla lista del numero di autori di ciascun libro la lunghezza della colonna che splittiamo          
            al punto 1, in modo tale da sapere quanti autori ci sono per ogni libro <br> <br>
        3. salviamo nel dizionario 'authors_all': <br>
            - la variabile di iterazione <br>
            - la lista degli autori di ciascun libro <br>
            - il numero di autori di ciascun libro <br>
            - il valore della colonna 'work_text_reviews_count' di gbB diviso il numero di autori per ogni libro <br>
            - l'anno di pubblicazione relativo a quel determinato libro <br> <br>
    -- PASSO 2: eseguiamo un ciclo for (su k) da ripetere per tutta la lunghezza del dizionario 'authors_all' in cui creiamo un altro ciclo for (su j) da ripetere per tutta la lunghezza della lista degli autori di ogni riga di 'authors_all' (PASSO 3) in cui: <br>
            - aggiungiamo alla lista 'authors_single' l'autore j-esimo della lista degli autori di ogni riga di 'authors_all' <br>
            - aggiungiamo alla lista 'authors_year' l'anno corrispondente <br>
            - aggiungiamo alla lista 'authors_point' il relativo punteggio <br>

- successivamente: <br>
    -- PASSO 4: chiamiamo la funzione <br>
    -- PASSO 5: visualizziamo le liste authors_single, authors_year e authors_points <br>
    -- PASSO 6: 
        - trasformiamo la lista authors_single in un dataframe che chiamiamo 'df' con un'unica colonna chiamata 'authors'
        - aggiungiamo a questo dataframe la lista 'authors_years' come colonna 'anno'
        - aggiungiamo anche la lista 'authors_points' come la colonna 'score'
        - visualizziamo il dataframe 'df'
    -- PASSO 7:
        - gruppiamo il dataframe 'df' rispetto agli attributi 'authors', 'anno' e applicchiamo la funzione sum,
            salvando il risultato nel dataframe 'df_ay'
        - visualizziamo il dataframe 'df_ay'
    -- PASSO 8:
        - gruppiamo il dataframe 'df_ay' rispetto all'attributo 'anno' e applichiamo la funzione max,
            salvando il risultato nel dataframe 'df_max' ottenendo così il risultato richiesto
        - visuliazziamo il dataframe 'df_max'

In [69]:
authors_number = []
authors_all = {}
authors_single = []
authors_years = []
authors_points = []

#colonna = colonna autori di gbB
#year = colonna degli original_publication_year di gbB
#count review = colonna work_text_reviews_count di gbB
def fun4(colonna, year, countReview):
    provv = []
    aux = []
    
    #Passo 1
    for k in range(0, len(colonna)):
        provv = colonna[k].split(sep=',')
        authors_number.append(len(colonna[k].split(sep=',')))
        authors_all[k] = [k, provv, authors_number[k], countReview[k]/authors_number[k], year[k]]

    #Passo 2
    for k in range(len(authors_all)):
        
        #Passo 3
        for j in range(len(authors_all[k][1])):    
            authors_single.append(authors_all[k][1][j])
            authors_years.append(authors_all[k][4])
            authors_points.append(authors_all[k][3])

In [70]:
#Passo 4
fun4(gbB['authors'], gbB['original_publication_year'], gbB['work_text_reviews_count'])

In [71]:
#Passo 5.1 
authors_single

['Suzanne Collins',
 'J.K. Rowling',
 ' Mary GrandPrÃ©',
 'Stephenie Meyer',
 'Harper Lee',
 'F. Scott Fitzgerald',
 'John Green',
 'J.R.R. Tolkien',
 'J.D. Salinger',
 'Dan Brown',
 'Jane Austen',
 'Khaled Hosseini',
 'Veronica Roth',
 'George Orwell',
 ' Erich Fromm',
 ' CelÃ¢l Ã\x9cster',
 'George Orwell',
 'Anne Frank',
 ' Eleanor Roosevelt',
 ' B.M. Mooyaart-Doubleday',
 'Stieg Larsson',
 ' Reg Keeland',
 'Suzanne Collins',
 'J.K. Rowling',
 ' Mary GrandPrÃ©',
 ' Rufus Beck',
 'J.R.R. Tolkien',
 'Suzanne Collins',
 'J.K. Rowling',
 ' Mary GrandPrÃ©',
 'Alice Sebold',
 'J.K. Rowling',
 ' Mary GrandPrÃ©',
 'J.K. Rowling',
 ' Mary GrandPrÃ©',
 'J.K. Rowling',
 ' Mary GrandPrÃ©',
 'Dan Brown',
 'J.K. Rowling',
 ' Mary GrandPrÃ©',
 'William Golding',
 'William Shakespeare',
 ' Robert           Jackson',
 'Gillian Flynn',
 'Kathryn Stockett',
 'John Steinbeck',
 'Arthur Golden',
 'E.L. James',
 'Paulo Coelho',
 ' Alan R. Clarke',
 'Lois Lowry',
 'C.S. Lewis',
 'Audrey Niffenegger',
 'George R.R. Martin',
 'Elizabeth Gilbert',
 'Rick Riordan',
 'Louisa May Alcott',
 'Charlotte BrontÃ«',
 ' Michael Mason',
 'Nicholas Sparks',
 'Yann Martel',
 'Sara Gruen',
 'Markus Zusak',
 'Ray Bradbury',
 'Stephenie Meyer',
 'Shel Silverstein',
 'Cassandra Clare',
 'Stephenie Meyer',
 'Christopher Paolini',
 'Douglas Adams',
 'Aldous Huxley',
 'Stephenie Meyer',
 'Sue Monk Kidd',
 'Mark Twain',
 ' John Seelye',
 ' Guy Cardwell',
 'E.B. White',
 ' Garth Williams',
 ' Rosemary Wells',
 'Mark Haddon',
 'Paula Hawkins',
 'Philip Pullman',
 'Emily BrontÃ«',
 ' Richard J. Dunn',
 'Jodi Picoult',
 'Kurt Vonnegut Jr.',
 'Margaret Mitchell',
 'Khaled Hosseini',
 'Stephen Chbosky',
 'Veronica Roth',
 'Orson Scott Card',
 'Mary Wollstonecraft Shelley',
 ' Percy Bysshe Shelley',
 ' Maurice Hindle',
 'Stephen King',
 'Stephenie Meyer',
 'John Green',
 'Helen Fielding',
 'Jane Austen',
 ' Tony Tanner',
 ' Ros Ballaster',
 'Louis Sachar',
 ' Louis Sachar',
 'Lauren Weisberger',
 'Homer',
 ' Robert Fagles',
 ' E.V. Rieu',
 ' FrÃ©dÃ©ric Mugler',
 ' Bernard Knox',
 'Antoine de Saint-ExupÃ©ry',
 ' Richard Howard',
 ' Dom Marcos Barbosa',
 ' Melina Karakosta',
 'Jeannette Walls',
 'Jon Krakauer',
 'Charles Dickens',
 ' Richard Maxwell',
 ' Hablot Knight Browne',
 'Michael Crichton',
 'Shel Silverstein',
 'John Grisham',
 'Elie Wiesel',
 ' Marion Wiesel',
 'John Green',
 'William Goldman',
 'S.E. Hinton',
 'James Dashner',
 'Steven D. Levitt',
 ' Stephen J. Dubner',
 'Frances Hodgson Burnett',
 'Gabriel GarcÃ\xada MÃ¡rquez',
 ' Gregory Rabassa',
 'Oscar Wilde',
 ' Jeffrey Eugenides',
 'E.L. James',
 'Bram Stoker',
 ' Nina Auerbach',
 ' David J. Skal',
 'Stieg Larsson',
 ' Reg Keeland',
 'E.L. James']

In [72]:
#Passo 5.2
authors_year

NameError: name 'authors_year' is not defined

In [ ]:
#Passo 5.3
authors_points

In [ ]:
#Passo 6
df = pd.DataFrame(authors_single, columns = ['authors'])
df['anno'] = authors_years
df['score'] = authors_points
df

In [ ]:
#Passo 7
df_ay = df.groupby(['authors', 'anno'], as_index=False).sum()
df_ay

In [ ]:
#Passo 8
df_max = df_ay.groupby('anno').max()
df_max

### 9. Assuming that there are no errors in the ISBN fields, find the books in both datasets, and compute the difference of average rating according to the ratings and the goodratings datasets

1. Passo 1:
    - Per prima cosa, gruppiamo il dataframe _gbR_ per l'attributo _book_id_ e ne prendiamo la media, salvando tutto nel nuovo dataframe _grB_grouppato_.
    - Rinominiamo le colonne del dataframe in questione e visualizziamo il risultato
2. Passo 2:
    - Effettuiamo un merge tra i dataframes _gbR_grouppato_ e _gbB_ sull'attributo _book_id_ in modo tale da avere entrambi i datasets all'interno dello stesso dataframe --> lo chiamiamo _total_mean_
3. Passo 3:
    - Creiamo una nuova colonna nel dataframe _total_mean_ che chiamiamo _Difference_ data dalla differenza tra i valori della colonna _average_rating_ e la colonna _mean rating_

In [ ]:
#Passo 1
gbR_grouppato = gbR.groupby('book_id', as_index = False).mean()
gbR_grouppato.columns = ['book_id', 'user_id', 'mean rating']
gbR_grouppato

In [ ]:
#Passo 2
total_mean = pd.merge(gbR_grouppato, gbB, on = 'book_id')
total_mean

In [ ]:
#Passo 3
total_mean['Difference'] = total_mean['average_rating'] - total_mean['mean rating']
total_mean

### 10. Split the users dataset according to the age. One dataset contains the users with unknown age, one with age 0-14, one with age 15-24, one with age 25-34, and so on.

Considerando che i range di età non sono tutti intervalli della stessa lunghzza, abbiamo deciso di trattare separatamente le età _NAN_, il range di età 0-14 e poi i successivi range 15-24 e così via (perchè quest'ultimi sono tutti intervalli della stessa lunghezza).
1. Per prima cosa, estraiamo tutti gli users che hanno il valore della colonna _Age_ uguale ad NAN e li salviamo nel dataframe _users_AN_
2. Ora selezioniamo gli users che hanno il valore della colonna _Age_ compreso tra 0 e 14 anni
3. Per selezionare gli users negli altri range d'età creiamo due cicli FOR:
    - nel primo la condizione del ciclo for è data dal range dall'età 15 (compresa) all'età massima esistente all'interno del dataframe, con un passo di 10 (cioè la lunghezza di ogni range che dobbiamo prendere in considerazione)
    - nel secondo la condizione è sul range da 0 al numero di intervalli totali che abbiamo calcolato nel primo ciclo e in questo creiamo il dizionario con tutti i datasets splittati per range di età (e non _NAN_)
4. Visualizziamo il dizionario con tutti i datasets splittati _ds_list_

In [ ]:
#Passo 1: users con age NAN
users_AN = users[users['Age'].isnull()]
users_AN

In [ ]:
#Passo 2: users con age 0-14
users_A014 = users[(users['Age'] <= 14)]
users_A014

In [ ]:
#Passo 3
numInt = 0 #numero intervalli in cui devo splittare
ds_list = {} #dizionario dei data set splittati
fasce = [] #lista delle fasce d'età
                                       
for i in range(15, int(users['Age'].max()), 10):
    numInt += 1
    fasce.append(i)                
#print(numInt)
                      
for j in range(numInt-1):
    ds_list[j] = [j, users[(users['Age'] >= fasce[j]) & (users['Age'] < fasce[j+1]) & (users['Age'].notnull())] ]

In [ ]:
#Passo 4
ds_list

In [ ]:
#Facciamo una controprova solamente per gli users con age 15-24
users_A1524 = users[(users['Age'] <= 24) & (users['Age'] > 14)]
users_A1524

In [ ]:
#che risulta essere lo stesso risultato di:
ds_list[0][1]

### 11. Find the books that appear only in the goodbooks datasets.

Eseguiamo un merge tra i dataframes _books_ e _gbB_ sull'ISBN che è rappresentato a sinistra dalla colonna _ISBN_ e a destra dalla colonna _isbn_ e lo salviamo nel dataframe _booksOnly_.

In [ ]:
booksOnly = pd.merge(books, gbB, left_on= 'ISBN', right_on = 'isbn')
booksOnly

### 12. Assuming that each pair (author, title) identifies a book, for each book find the number of times it appears in the books dataset. Which books appear the most times?

Per prima cosa, gruppiamo il dataframe _books_ per gli attributi _'Book-Title', 'Book-Author'_. <br>
Successivamente applichiamo la funzione count, estriamo la colonna che ci interessa (_ISBN_) e facciamo un ordinamento crescente dei valori, in modo tale da vedere il libro che compare più volte per ultimo.

In [ ]:
booksC = books.groupby(['Book-Title', 'Book-Author']).count()['ISBN'].sort_values()
booksC

### 13. Find the author with the highest average rating according to the goodbooks datasets.

Per prima cosa modifichiamo la funzione chiamata _fun_ scritta nell'esercizio 7 ad essere la funzione _fun3_, con i seguenti parametri: <br>
    - colonna = colonna autori di gbB <br>
    - id = colonna degli book_id di gbB <br>
    - ar = colonna degli average rating di gbB <br>

e che segue i seguenti passi: <br>
- Per trovare la lista degli autori senza ripetizioni: <br>
    -- PASSO 1: utilizziamo un ciclo for (su k) da ripetere per tutta la lunghezza della colonna _gbB['authors']_ in cui:
        1. salviamo nella lista provv gli autori di ciascun libro usando il metodo .split con separatore ','
        2. aggiungiamo alla lista del numero di autori di ciascun libro la lunghezza della colonna che splittiamo          
            al punto 1, in modo tale da sapere quanti autori ci sono per ogni libro
        3. salviamo nel dizionario 'authors_all':
            - la variabile di iterazione
            - la lista degli autori di ciascun libro
            - il numero di autori di ciascun libro
            - il valore della colonna 'average rating' di gbB 
     -- PASSO 2: utilizziamo un altro ciclo for (su i) all'interno del precedente per eliminare gli eventuali spazi davanti ai nomi degli autori e risolvere il problema che lo stesso autore, con o senza spazi, viene visualizzato due volte (e noi lo vogliamo ripetuto una sola volta in 'authors_list')

- Per rispondere alla domanda completa: <br>
     -- PASSO 3: utilizziamo un altro ciclo for (su j) per creare ed inizializzare il dizionario degli autori 'authors_dic' che contiene:
             - la variabile di iterazione
             - il nome dell'autore
             - il valore 0, che poi verrà sostituito dalla somma degli average rating di ogni autore
             - il valore 0, che poi verrà sostituito dal numero totale di volte in cui compare l'autore in modo tale
                 da poter calcolarne la media
     -- PASSO 4: utilizziamo un altro ciclo for (su j) che itera sulla lunghezza del dizionario 'authors_all' e:
         1. PASSO 5: con un ciclo for (su i) che itera sulla lunghezza della lista degli autori di ogni riga di
             'authors_all' che fissa ogni autore di tale lista
         2. PASSO 6: all'interno di quest'ultimo ciclo, creiamo un ulteriore ciclo for (su k) sulla lunghezza di
             'authors_dic' in cui se ciascun autore di 'authors_dic' è uguale all'autore fissato in precedenza
             allora aggiorniamo nel dizionario 'authors_dic':
             - il valore che era stato precedentemente fissato a 0 in modo tale da ottenere la somma
                 desiderata per il calcolo della media
             - l'ultimo valore che era stato precedentemente fissato a 0 in modo tale da avere il numero per cui
                 dividere la somma precedente per ottenere la media
     -- PASSO 7: con un ciclo for (su m) che itera sulla lunghezza del dizionario 'authors_dic' modifichiamo la somma ad essere la media <br>
     -- PASSO 8:
         1. inizializzo la lista 'authors_max' ad avere in prima posizione una stringa vuota e in seconda posizione 
             il valore 0, perchè è la lista dove salveremo l'autore che realizza il massimo richiesto e il
             rispettivo valore del massimo
         2. eseguiamo un altro ciclo for (su m) che itera sulla lunghezza di 'authors_dic' in modo tale da calcolare
             il massimo valore della media calcolata precedentemente nel seguente modo: se il valore della media
             dell'autore in 'authors_dic' è maggiore del valore massimo salvato nella lista 'authors_max' fino a
             quel momento, allora sostituisco sia la stringa dell'autore che il valore massimo nella
             lista 'authors_max', altrimenti non facciamo nulla
         3. ritorniamo la lista 'authors_max'


- Alla fine, chiamiamo la funzione (PASSO 9) e otteniamo il risultato desiderato.

In [ ]:
authors_list = []
authors_number = []
authors_dic = {}
authors_all = {}
authors_max = [] #dove metto l'autore con il max


#colonna = colonna authors di gbB
#id = colonna degli id-books di gbB
#ar = colonna average rating

def fun3(colonna, id, ar):
    provv = []
    aux = []
    #cerco ogni autore in ciascuna riga
    
    #Passo 1
    for k in range(0, len(colonna)):
        provv = colonna[k].split(sep=',')
        authors_number.append(len(colonna[k].split(sep=',')))
        authors_all[k] = [k, provv, authors_number[k],  ar[k]]
        
        #Passo 2
        for i in range(len(provv)):
            provv[i] = provv[i].strip()
            if provv[i] not in authors_list:
                 authors_list.append((provv[i]))
    #Passo 3    
    for j in range(len(authors_list)):
        authors_dic[j] = [j, authors_list[j], float(0), 0]
        
    #Passo 4
    for j in range(len(authors_all)):
        
        #Passo 5
        for i in range(len(authors_all[j][1])):
            fisso = authors_all[j][1][i]
            
            #Passo 6
            for k in range(len(authors_dic)):
                if (authors_dic[k][1] ==  fisso):
                    authors_dic[k][2] = authors_dic[k][2] +float(authors_all[j][3])
                    authors_dic[k][3] = authors_dic[k][3] + 1 
                    
    #Passo 7               
    for m in range(len(authors_dic)):
        authors_dic[m][2] = authors_dic[m][2]/authors_dic[m][3]
    
    #Passo 8 
    authors_max = ['', 0]
    for m in range(len(authors_dic)):
        if (authors_dic[m][2] >= authors_max[1]):
            authors_max = [authors_dic[m][1], authors_dic[m][2]]
            
    return authors_max

In [ ]:
#Passo 9
fun3(gbB['authors'], gbB['book_id'], gbB['average_rating'])